In [1]:
print("00000")

00000

In [1]:
#Importing library
import numpy as np
import pandas as pd

# Basic data structures in pandas
Pandas provides two types of classes for handling data:
1. Series : a one-dimensional labeled array holding data of any type
such as integers, strings, Python objects etc.
2. DataFrame : a two-dimensional data structure that holds data like a two-dimension array or
a table with rows and columns.

# A. Series

# s = pd.Series(data, index=index) 
#Here, data can be different things:a Python dict"a":1, an ndarray,a scalar value (like 5)
If no index is passed, one will be created having values [0, ..., len(data) - 1] .

In [2]:
s=pd.Series(np.random.randn(10))
s

0    0.691493
1    0.486318
2   -0.201337
3    1.743940
4   -0.932442
5   -0.220224
6    2.233023
7    1.040737
8    0.061708
9   -0.972227
dtype: float64

In [3]:
s1=pd.Series(np.random.randn(6), index=["A", "b", "c", "d", "e", "f"])
s1,
#The passed index is a list of axis labels. If data is an ndarray, index must be the same length as data.

(A   -2.506011
 b    0.500893
 c   -0.695072
 d   -1.995099
 e   -0.067935
 f   -2.057767
 dtype: float64,)

In [4]:
s1

A   -2.506011
b    0.500893
c   -0.695072
d   -1.995099
e   -0.067935
f   -2.057767
dtype: float64

In [5]:
s.index  #problem output should be like ,,,, Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

RangeIndex(start=0, stop=10, step=1)

# A.1 Series from dict

In [6]:
d={"col": 2, "col2": 444,"c": 3, "d": 0}; d1={"col": 2, "col2": 4.44,"c": 3, "d": 0} #without index

In [7]:
pd.Series(d), pd.Series(d1),

(col       2
 col2    444
 c         3
 d         0
 dtype: int64,
 col     2.00
 col2    4.44
 c       3.00
 d       0.00
 dtype: float64)

In [8]:
pd.Series(d, index=["","c", "m","n", "col", "p"]), #calling dict but no index data matching, no output, NaN

(       NaN
 c      3.0
 m      NaN
 n      NaN
 col    2.0
 p      NaN
 dtype: float64,)

# A.2 Series from scalar ....

In [9]:
pd.Series(5, index=["c", "m","n", "col", "p"])

c      5
m      5
n      5
col    5
p      5
dtype: int64

# A.3 Series as ndarray

In [10]:
s=pd.Series(np.random.randn(10))  #Like a NumPy array, a pandas Series has a single dtype .
s

0   -0.078475
1    0.163655
2   -0.886277
3    1.356063
4    0.876071
5   -1.063614
6    1.290027
7   -0.103020
8   -1.048312
9    0.769848
dtype: float64

In [11]:
s.dtype

dtype('float64')

In [12]:
s.iloc[0] #certain col

-0.07847461771415408

In [13]:
s.iloc[:4] #upto

0   -0.078475
1    0.163655
2   -0.886277
3    1.356063
dtype: float64

In [56]:
s.iloc[4:] #beyond

4    NaN
5    8.0
6    9.0
dtype: float64

In [14]:
s.iloc[1:3] #range

1    0.163655
2   -0.886277
dtype: float64

In [15]:
s.median()

0.04258994202787612

In [16]:
s.iloc[[4,6,1]] # certain multiple col

4    0.876071
6    1.290027
1    0.163655
dtype: float64

In [17]:
np.exp(s)

0    0.924526
1    1.177807
2    0.412188
3    3.880884
4    2.401447
5    0.345206
6    3.632885
7    0.902109
8    0.350529
9    2.159438
dtype: float64

In [18]:
s.array #series to array conver...   'SHOULD LIKE <<NumpyExtensionArray>>'

<PandasArray>
[-0.07847461771415408,   0.1636545017699063,  -0.8862768749732014,
    1.356062858011364,    0.876071480181007,   -1.063614398995539,
   1.2900269671998568, -0.10302001239874019,  -1.0483119450611325,
   0.7698478061322451]
Length: 10, dtype: float64

In [19]:
s.to_numpy()

array([-0.07847462,  0.1636545 , -0.88627687,  1.35606286,  0.87607148,
       -1.0636144 ,  1.29002697, -0.10302001, -1.04831195,  0.76984781])

# A.4 Series as dict

In [26]:
s1

A   -2.506011
b    0.500893
c   -0.695072
d   -1.995099
e   -0.067935
f   -2.057767
dtype: float64

In [31]:
s1["b"]

0.5008931661992723

In [47]:
"e" in s1, "g" in s1 , s1.get("c")
#If a label is not contained in the index, an exception is raised     
#Using the Series.get() method,

(True, False, -0.6950721986680272)

# A.5 Vectorized operations and label alignment with Series

In [64]:
s1, s

(A   -2.506011
 b    0.500893
 c   -0.695072
 d   -1.995099
 e   -0.067935
 f   -2.057767
 dtype: float64,
 0    1.0
 1    2.0
 2    3.0
 3    4.0
 4    NaN
 5    8.0
 6    9.0
 dtype: float64)

In [66]:
s1+s1, s1*2, s1/4, np.exp(s1), s.iloc[4:] + s.iloc[4:] 
# If a label is not found in one Series or the other, the result will be marked as missing  NaN .

(A   -5.012021
 b    1.001786
 c   -1.390144
 d   -3.990197
 e   -0.135871
 f   -4.115533
 dtype: float64,
 A   -5.012021
 b    1.001786
 c   -1.390144
 d   -3.990197
 e   -0.135871
 f   -4.115533
 dtype: float64,
 A   -0.626503
 b    0.125223
 c   -0.173768
 d   -0.498775
 e   -0.016984
 f   -0.514442
 dtype: float64,
 A    0.081593
 b    1.650195
 c    0.499038
 d    0.136000
 e    0.934321
 f    0.127739
 dtype: float64,
 4     NaN
 5    16.0
 6    18.0
 dtype: float64)

# A6. Name attribute

In [69]:
s=pd.Series(np.random.randn(3), name= "something")
s

0   -0.719181
1    1.379536
2    0.151023
Name: something, dtype: float64

In [70]:
s.name

'something'

In [72]:
s3= s.rename("different")
s3

0   -0.719181
1    1.379536
2    0.151023
Name: different, dtype: float64

# 1.Object creation

# 1.1 Creating a Series 
by passing a list of values. Series(a one-dimensional labeled array capable of holding any data type (integers, strings,floating point numbers, Python objects, etc.))

In [120]:
d=pd.Series(np.random.randn(10)); s = pd.Series([1, 2, 3, 4, np.nan, 8, 9])
d, s

(0    1.878448
 1   -0.068834
 2    0.684093
 3   -1.091795
 4    1.422971
 5    0.571153
 6    0.854625
 7   -0.398111
 8   -1.741636
 9   -0.151845
 dtype: float64,
 0    1.0
 1    2.0
 2    3.0
 3    4.0
 4    NaN
 5    8.0
 6    9.0
 dtype: float64)

# A7. DataFrame
DataFrame is a 2-dimensional labeled data structure with columns of potentially different types.
You can think of it like a spreadsheet or SQL table, or a dict of Series objects. DataFrame accepts many different kinds of
input:
Dict of 1D ndarrays, lists, dicts, or Series
2-D numpy.ndarray
Structured or record ndarray
A Series
Another DataFrame

# 1.2 Cre DataFrame
# 1.2.1 Constructing DataFrame from a dictionary.

In [103]:
data = np.array([['','Col1','Col2'],['Row1',1,2],['Row2',3,4]])
print(pd.DataFrame(data=data[1:,1:],index=data[1:,0],columns=data[0,1:]))

     Col1 Col2
Row1    1    2
Row2    3    4

In [121]:
df0=pd.DataFrame(data=data)
df0

      0     1     2
0        Col1  Col2
1  Row1     1     2
2  Row2     3     4

# 1.2.2 Creating a DataFrame by passing a NumPy array
with a datetime index using date_range() and labeled columns:

In [74]:

dates = pd.date_range("20231105", periods=10)
dates

DatetimeIndex(['2023-11-05', '2023-11-06', '2023-11-07', '2023-11-08',
               '2023-11-09', '2023-11-10', '2023-11-11', '2023-11-12',
               '2023-11-13', '2023-11-14'],
              dtype='datetime64[ns]', freq='D')

In [131]:
df = pd.DataFrame(np.random.randn(10,5), index=dates, columns=["A", "B", "C","D","E"])
df5 = pd.DataFrame(np.random.randn(10,5), index=dates, columns=  list("ABCDE"))# or columns= list("ABCDE")
df,df5

(                   A         B         C         D         E
 2023-11-05 -0.220482  0.235232  0.126781  1.700127  0.573598
 2023-11-06 -1.298268  0.919117  0.378055  0.476793 -0.342378
 2023-11-07 -0.940769 -1.197223  0.737045  0.383473  1.390539
 2023-11-08 -0.131534  2.115755 -1.141690  0.132522 -1.284669
 2023-11-09  2.027915 -0.590384 -0.115570 -1.044964 -0.053459
 2023-11-10 -0.307564 -0.587654  2.053760 -0.838354 -0.871171
 2023-11-11  0.125955 -1.752582  0.750464 -0.427927 -0.152268
 2023-11-12 -0.636001  1.567314 -0.025564 -0.040572  0.460134
 2023-11-13 -1.201850 -1.571671  2.255537  0.345073 -0.259290
 2023-11-14 -1.392900 -0.714684  0.654189 -0.320867  0.053304,
                    A         B         C         D         E
 2023-11-05 -1.009026 -0.214729 -0.262953  0.603954  0.021891
 2023-11-06 -0.996214  0.411110 -0.712468  0.071585 -1.341852
 2023-11-07  0.634628 -1.490033 -0.555675 -1.046215 -0.875021
 2023-11-08 -0.546982 -1.225067 -0.366090 -0.017289  0.994570
 2023-11-09 -1.097075 -0.386514  1.759092  1.053006  1.135967
 2023-11-10 -0.820962  1.600649  0.698318  0.231582 -0.488285
 2023-11-11 -0.307347 -1.252295 -0.121096  0.953379  0.180682
 2023-11-12 -0.945715  0.504512  1.800951  1.161477  0.738086
 2023-11-13 -0.929780 -0.091701  0.210038  0.206327 -1.663364
 2023-11-14  1.594107 -0.965779 -0.450548  0.981007  0.348509)

In [132]:
df.info() #df5.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 10 entries, 2023-11-05 to 2023-11-14
Freq: D
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       10 non-null     float64
 1   B       10 non-null     float64
 2   C       10 non-null     float64
 3   D       10 non-null     float64
 4   E       10 non-null     float64
dtypes: float64(5)
memory usage: 780.0 bytes


# 1.2.3 Creating a DataFrame by passing a dictionary of objects 
that can be converted into a series-like structure: keys and column

In [144]:

import pandas as pd
import numpy as np
df1 = pd.DataFrame(
    {
        "A": 1,
        "B": pd.Timestamp("20231105"),
        "C": pd.Series([1,2,3,4], index=list(range(4)), dtype="float32"),  #pd.Series(1,.....
        "D": np.array([3]*4, dtype="float32"),
        "E": pd.Categorical(["test", "train", "best", "rest"]),
        "F": ["f", "j", "k", "L"],  # single value
        
    }
)

print(df1)

   A          B    C    D      E  F
0  1 2023-11-05  1.0  3.0   test  f
1  1 2023-11-05  2.0  3.0  train  j
2  1 2023-11-05  3.0  3.0   best  k
3  1 2023-11-05  4.0  3.0   rest  L

In [147]:
df1

   A          B    C    D      E  F
0  1 2023-11-05  1.0  3.0   test  f
1  1 2023-11-05  2.0  3.0  train  j
2  1 2023-11-05  3.0  3.0   best  k
3  1 2023-11-05  4.0  3.0   rest  L

In [148]:
df1.dtypes

A             int64
B    datetime64[ns]
C           float32
D           float32
E          category
F            object
dtype: object

for Ipython df2.<TAB> gies all details

# 2. Viewing Data

In [154]:
df.head(), df.head(2), df1.dtypes

(                   A         B         C         D         E
 2023-11-05 -0.220482  0.235232  0.126781  1.700127  0.573598
 2023-11-06 -1.298268  0.919117  0.378055  0.476793 -0.342378
 2023-11-07 -0.940769 -1.197223  0.737045  0.383473  1.390539
 2023-11-08 -0.131534  2.115755 -1.141690  0.132522 -1.284669
 2023-11-09  2.027915 -0.590384 -0.115570 -1.044964 -0.053459,
                    A         B         C         D         E
 2023-11-05 -0.220482  0.235232  0.126781  1.700127  0.573598
 2023-11-06 -1.298268  0.919117  0.378055  0.476793 -0.342378,
 A             int64
 B    datetime64[ns]
 C           float32
 D           float32
 E          category
 F            object
 dtype: object)

                                                 NumPy arrays have one dtype for the entire array
                                         pandas DataFrames have one dtype per column

In [162]:
df.tail(), df.tail(2)

(                   A         B         C         D         E
 2023-11-10 -0.307564 -0.587654  2.053760 -0.838354 -0.871171
 2023-11-11  0.125955 -1.752582  0.750464 -0.427927 -0.152268
 2023-11-12 -0.636001  1.567314 -0.025564 -0.040572  0.460134
 2023-11-13 -1.201850 -1.571671  2.255537  0.345073 -0.259290
 2023-11-14 -1.392900 -0.714684  0.654189 -0.320867  0.053304,
                   A         B         C         D         E
 2023-11-13 -1.20185 -1.571671  2.255537  0.345073 -0.259290
 2023-11-14 -1.39290 -0.714684  0.654189 -0.320867  0.053304)

In [163]:
df.index, df.columns

(DatetimeIndex(['2023-11-05', '2023-11-06', '2023-11-07', '2023-11-08',
                '2023-11-09', '2023-11-10', '2023-11-11', '2023-11-12',
                '2023-11-13', '2023-11-14'],
               dtype='datetime64[ns]', freq='D'),
 Index(['A', 'B', 'C', 'D', 'E'], dtype='object'))

In [164]:
df.to_numpy() 
# single data types columns-- DataFrame.to_numpy()
#-does not include the index or column labels in the output.

array([[-0.22048221,  0.23523213,  0.1267809 ,  1.70012666,  0.57359849],
       [-1.29826799,  0.91911683,  0.37805482,  0.47679316, -0.34237792],
       [-0.94076934, -1.1972231 ,  0.73704532,  0.38347265,  1.39053883],
       [-0.13153447,  2.11575477, -1.14169008,  0.13252216, -1.28466866],
       [ 2.02791547, -0.59038383, -0.11556993, -1.04496364, -0.05345927],
       [-0.30756387, -0.58765418,  2.05376004, -0.83835376, -0.87117134],
       [ 0.12595505, -1.7525824 ,  0.7504637 , -0.42792736, -0.15226815],
       [-0.63600086,  1.56731388, -0.02556355, -0.04057222,  0.46013423],
       [-1.20184953, -1.57167074,  2.25553733,  0.3450735 , -0.25928999],
       [-1.39289973, -0.71468423,  0.65418892, -0.32086688,  0.05330355]])

In [165]:
df.dtypes

A    float64
B    float64
C    float64
D    float64
E    float64
dtype: object

In [168]:
# describe() shows a quick statistics
df.describe()

               A          B          C          D          E
count  10.000000  10.000000  10.000000  10.000000  10.000000
mean   -0.397550  -0.157678   0.567301   0.036530  -0.048566
std     1.003771   1.323467   1.005426   0.779645   0.750807
min    -1.392900  -1.752582  -1.141690  -1.044964  -1.284669
25%    -1.136579  -1.076588   0.012523  -0.401162  -0.321606
50%    -0.471782  -0.589019   0.516122   0.045975  -0.102864
75%    -0.153771   0.748146   0.747109   0.373873   0.358427
max     2.027915   2.115755   2.255537   1.700127   1.390539

In [171]:
df.sort_index()

                   A         B         C         D         E
2023-11-05 -0.220482  0.235232  0.126781  1.700127  0.573598
2023-11-06 -1.298268  0.919117  0.378055  0.476793 -0.342378
2023-11-07 -0.940769 -1.197223  0.737045  0.383473  1.390539
2023-11-08 -0.131534  2.115755 -1.141690  0.132522 -1.284669
2023-11-09  2.027915 -0.590384 -0.115570 -1.044964 -0.053459
2023-11-10 -0.307564 -0.587654  2.053760 -0.838354 -0.871171
2023-11-11  0.125955 -1.752582  0.750464 -0.427927 -0.152268
2023-11-12 -0.636001  1.567314 -0.025564 -0.040572  0.460134
2023-11-13 -1.201850 -1.571671  2.255537  0.345073 -0.259290
2023-11-14 -1.392900 -0.714684  0.654189 -0.320867  0.053304

In [170]:
df.T  #c to r and r to C

,2023-11-05,2023-11-06,2023-11-07,2023-11-08,2023-11-09,2023-11-10,2023-11-11,2023-11-12,2023-11-13,2023-11-14
A,-0.220482,-1.298268,-0.940769,-0.131534,2.027915,-0.307564,0.125955,-0.636001,-1.201850,-1.392900
B,0.235232,0.919117,-1.197223,2.115755,-0.590384,-0.587654,-1.752582,1.567314,-1.571671,-0.714684
C,0.126781,0.378055,0.737045,-1.141690,-0.115570,2.053760,0.750464,-0.025564,2.255537,0.654189
D,1.700127,0.476793,0.383473,0.132522,-1.044964,-0.838354,-0.427927,-0.040572,0.345073,-0.320867
E,0.573598,-0.342378,1.390539,-1.284669,-0.053459,-0.871171,-0.152268,0.460134,-0.259290,0.053304

In [89]:
# Sorting by axis,In Pandas, axis=1 refers to columns, while axis=0 refers to rows.
df.sort_index(axis=1, ascending=True), df.sort_index(axis=1, ascending=False)

(                   A         B         C         D         E
 2023-11-05  0.248480 -0.151079 -0.651606 -0.154898  0.784665
 2023-11-06  0.588168 -1.270531 -0.601338 -0.075788 -0.941273
 2023-11-07 -0.544558  0.878808  0.345066  0.638333  1.902559
 2023-11-08 -0.925156  0.538874 -0.145330 -0.021646 -0.326571
 2023-11-09  0.819597 -0.618865  0.813931  1.099288  0.047488
 2023-11-10  1.046448  0.499436  0.433487  1.111300  0.529981
 2023-11-11 -0.973053  0.966412 -1.093260 -0.604974  0.818304
 2023-11-12  1.450041 -0.601590  1.015180 -0.083191 -1.818819
 2023-11-13 -0.610350  2.046488  0.726396 -0.693282 -0.564011
 2023-11-14  0.639446  1.796082 -0.469683 -0.441636 -0.477188,
                    E         D         C         B         A
 2023-11-05  0.784665 -0.154898 -0.651606 -0.151079  0.248480
 2023-11-06 -0.941273 -0.075788 -0.601338 -1.270531  0.588168
 2023-11-07  1.902559  0.638333  0.345066  0.878808 -0.544558
 2023-11-08 -0.326571 -0.021646 -0.145330  0.538874 -0.925156
 2023-11-09  0.047488  1.099288  0.813931 -0.618865  0.819597
 2023-11-10  0.529981  1.111300  0.433487  0.499436  1.046448
 2023-11-11  0.818304 -0.604974 -1.093260  0.966412 -0.973053
 2023-11-12 -1.818819 -0.083191  1.015180 -0.601590  1.450041
 2023-11-13 -0.564011 -0.693282  0.726396  2.046488 -0.610350
 2023-11-14 -0.477188 -0.441636 -0.469683  1.796082  0.639446)

In [90]:
# df.sort_values()
df.sort_values(by="B")

                   A         B         C         D         E
2023-11-06  0.588168 -1.270531 -0.601338 -0.075788 -0.941273
2023-11-09  0.819597 -0.618865  0.813931  1.099288  0.047488
2023-11-12  1.450041 -0.601590  1.015180 -0.083191 -1.818819
2023-11-05  0.248480 -0.151079 -0.651606 -0.154898  0.784665
2023-11-10  1.046448  0.499436  0.433487  1.111300  0.529981
2023-11-08 -0.925156  0.538874 -0.145330 -0.021646 -0.326571
2023-11-07 -0.544558  0.878808  0.345066  0.638333  1.902559
2023-11-11 -0.973053  0.966412 -1.093260 -0.604974  0.818304
2023-11-14  0.639446  1.796082 -0.469683 -0.441636 -0.477188
2023-11-13 -0.610350  2.046488  0.726396 -0.693282 -0.564011

# Indexing and selecting data
# 3.Selection
pandas data access methods, DataFrame.at() , DataFrame.iat() , DataFrame.loc()
and DataFrame.iloc()

In [180]:
# indexing operators [] and attribute operator .
df["E"]

2023-11-05    0.573598
2023-11-06   -0.342378
2023-11-07    1.390539
2023-11-08   -1.284669
2023-11-09   -0.053459
2023-11-10   -0.871171
2023-11-11   -0.152268
2023-11-12    0.460134
2023-11-13   -0.259290
2023-11-14    0.053304
Freq: D, Name: E, dtype: float64

# Get-item([])

In [92]:
# df[1:1]  # passing a slice : selects matching row,

In [93]:
df[0:1]

                  A         B         C         D         E
2023-11-05  0.24848 -0.151079 -0.651606 -0.154898  0.784665

In [94]:
df["20231105": "20231111"]

                   A         B         C         D         E
2023-11-05  0.248480 -0.151079 -0.651606 -0.154898  0.784665
2023-11-06  0.588168 -1.270531 -0.601338 -0.075788 -0.941273
2023-11-07 -0.544558  0.878808  0.345066  0.638333  1.902559
2023-11-08 -0.925156  0.538874 -0.145330 -0.021646 -0.326571
2023-11-09  0.819597 -0.618865  0.813931  1.099288  0.047488
2023-11-10  1.046448  0.499436  0.433487  1.111300  0.529981
2023-11-11 -0.973053  0.966412 -1.093260 -0.604974  0.818304

# 3.1 Selection by lebel

In [95]:
df.loc[dates[0]], df.loc[dates[3]], #getting a cross section using a lebel

(A    0.248480
 B   -0.151079
 C   -0.651606
 D   -0.154898
 E    0.784665
 Name: 2023-11-05 00:00:00, dtype: float64,
 A   -0.925156
 B    0.538874
 C   -0.145330
 D   -0.021646
 E   -0.326571
 Name: 2023-11-08 00:00:00, dtype: float64)

In [96]:
#multiple axis lebel
df.loc[:], df.loc[:, ["A", "B"]]

(                   A         B         C         D         E
 2023-11-05  0.248480 -0.151079 -0.651606 -0.154898  0.784665
 2023-11-06  0.588168 -1.270531 -0.601338 -0.075788 -0.941273
 2023-11-07 -0.544558  0.878808  0.345066  0.638333  1.902559
 2023-11-08 -0.925156  0.538874 -0.145330 -0.021646 -0.326571
 2023-11-09  0.819597 -0.618865  0.813931  1.099288  0.047488
 2023-11-10  1.046448  0.499436  0.433487  1.111300  0.529981
 2023-11-11 -0.973053  0.966412 -1.093260 -0.604974  0.818304
 2023-11-12  1.450041 -0.601590  1.015180 -0.083191 -1.818819
 2023-11-13 -0.610350  2.046488  0.726396 -0.693282 -0.564011
 2023-11-14  0.639446  1.796082 -0.469683 -0.441636 -0.477188,
                    A         B
 2023-11-05  0.248480 -0.151079
 2023-11-06  0.588168 -1.270531
 2023-11-07 -0.544558  0.878808
 2023-11-08 -0.925156  0.538874
 2023-11-09  0.819597 -0.618865
 2023-11-10  1.046448  0.499436
 2023-11-11 -0.973053  0.966412
 2023-11-12  1.450041 -0.601590
 2023-11-13 -0.610350  2.046488
 2023-11-14  0.639446  1.796082)

In [97]:
df.loc["20231106": "20231109"], df.loc["20231106", ["A", "B"]] #lebel slicing ,both endpoint are included

(                   A         B         C         D         E
 2023-11-06  0.588168 -1.270531 -0.601338 -0.075788 -0.941273
 2023-11-07 -0.544558  0.878808  0.345066  0.638333  1.902559
 2023-11-08 -0.925156  0.538874 -0.145330 -0.021646 -0.326571
 2023-11-09  0.819597 -0.618865  0.813931  1.099288  0.047488,
 A    0.588168
 B   -1.270531
 Name: 2023-11-06 00:00:00, dtype: float64)

In [98]:
df.loc["20231106", ["A", "B", "C"]]  #dimensions reduction

A    0.588168
B   -1.270531
C   -0.601338
Name: 2023-11-06 00:00:00, dtype: float64